.cell {
    border-bottom: 1px solid #444;
    padding: 15px 10px;
    font-size: 14px;
    background-color: #222; 
    transition: background-color 0.3s ease;
    flex: 1;  
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    color: #fff; 
}

.cell:last-child {
    border-right: none;
}

.resizer {
    display: inline-block;
    background: #555;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action: none;
}

.resizer:hover,
.resizer:active {
    cursor: col-resize;
    background: #888;
}